@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.griditem {
  margin: 3%;
  padding: 3%
}

body {
  padding: 3%;
  background-color: #fafafa;
}

.play-card {
  height: 30vh;
  overflow-wrap: break-word;
  overflow: hidden;
}
